<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>
		<%=h current_page.data.title || "Frontrunner Software" %>
	</title>
	<meta name="description" content="Frontrunner Software - Web / Mobile Consultancy and Software Development">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Andreas Böhrnsen">
	<%= yield_content :meta_tags %>
	<%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!-- Place favicon.ico in the root directory -->

	<%= stylesheet_link_tag "all" %>
	<%= javascript_include_tag "modernizr" %>
</head>
<body class="<%= page_classes %>">
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<%= yield %>

	<%= javascript_include_tag "all" %>
	<%= javascript_include_tag "holder" %>

	<!-- Google Analytics, use Piwik later -->
	<script type="text/javascript">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		//ga('create', 'UA-xxxxxxxx-x', 'boehrnsen.de');
		//ga('send', 'pageview');
	</script>
</body>
</html>
