---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { content } from '~/i18n/pages/en/index';

const heroActions = [
  {
    variant: 'primary' as const,
    text: content.hero.primaryCta.text,
    href: content.hero.primaryCta.href,
    target: content.hero.primaryCta.target,
  },
  { text: content.hero.secondaryCta.text, href: content.hero.secondaryCta.href },
];

const ctaActions = [
  {
    variant: 'primary' as const,
    text: content.cta.primaryCta.text,
    href: content.cta.primaryCta.href,
    target: content.cta.primaryCta.target,
  },
];

const services = content.services.blocks;
---

<Layout metadata={content.metadata}>
  <Hero2
    tagline={content.hero.tagline}
    title={content.hero.title}
    subtitle={content.hero.subtitle}
    actions={heroActions}
    image={content.hero.image}
  />

  <Note title={content.philosophyNote.title} description={content.philosophyNote.description} />

  <Features
    id={content.problems.id}
    tagline={content.problems.tagline}
    title={content.problems.title}
    subtitle={content.problems.subtitle}
    items={content.problems.items}
  />

  <Content
    isReversed
    tagline={content.services.tagline}
    title={content.services.title}
    items={services[0].items}
    image={services[0].image}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{services[0].contentTitle}</h3>
      {services[0].contentCaption}
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content isAfterContent items={services[1].items} image={services[1].image}>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{services[1].contentTitle}</h3>
      {services[1].contentCaption}
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content isReversed isAfterContent items={services[2].items} image={services[2].image}>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{services[2].contentTitle}</h3>
      {services[2].contentCaption}
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content isAfterContent items={services[3].items} image={services[3].image}>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">{services[3].contentTitle}</h3>
      {services[3].contentCaption}
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Note title={content.modularNote.title} description={content.modularNote.description} />

  <Steps title={content.steps.title} items={content.steps.items} image={content.steps.image} />

  <FAQs
    title={content.faqs.title}
    subtitle={content.faqs.subtitle}
    tagline={content.faqs.tagline}
    classes={{ container: 'max-w-6xl' }}
    items={content.faqs.items}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <CallToAction actions={ctaActions}>
    <Fragment slot="title">{content.cta.title}</Fragment>
    <Fragment slot="subtitle">{content.cta.subtitle}</Fragment>
  </CallToAction>
</Layout>
