---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import { content } from '~/i18n/pages/de/about';

const ctaActions = [
  {
    variant: 'primary' as const,
    text: content.cta.primaryCta.text,
    href: content.cta.primaryCta.href,
    target: content.cta.primaryCta.target,
  },
];
---

<Layout metadata={content.metadata}>
  <Hero tagline={content.hero.tagline} image={content.hero.image}>
    <Fragment slot="title">
      {content.hero.titleLine1} <br />
      <span class="text-accent dark:text-white">{content.hero.titleLine2}</span>
    </Fragment>

    <Fragment slot="subtitle">
      {content.hero.subtitle}
    </Fragment>
  </Hero>

  <Steps2
    title={content.principles.title}
    subtitle={content.principles.subtitle}
    items={content.principles.items}
  />

  <Features2
    title={content.expertise.title}
    subtitle={content.expertise.subtitle}
    columns={3}
    items={content.expertise.items}
  />

  <Steps2
    title={content.why.title}
    subtitle={content.why.subtitle}
    isReversed={true}
    items={content.why.items}
    callToAction={content.why.callToAction}
  />

  <CallToAction actions={ctaActions}>
    <Fragment slot="title">{content.cta.title}</Fragment>
    <Fragment slot="subtitle">{content.cta.subtitle}</Fragment>
  </CallToAction>
</Layout>
